.hero-img {
  background-image: url("../../assets/HomeHeroImage.jpg");
  height: 65vh;
  width: 75%;
  background-size: cover;
  margin: 60px auto;
  border-radius: 20px;
  position: relative;
}

.black-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.card-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 20px;
  background-color: #f47b251a;
}
